/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../_sass/_header.sass */
.header {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  font-family: "Lato", sans-serif;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.95);
  text-align: center;
  max-width: 400px;
  margin: 0 auto 30px;
}
/* line 12, ../_sass/screen.sass */
.wf-loading .header {
  opacity: 0;
  transform: scale(0.95);
}
/* line 22, ../_sass/screen.sass */
.header h1 {
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
}
/* line 26, ../_sass/screen.sass */
.header h2 {
  font-size: 20px;
  font-weight: 500;
}
/* line 29, ../_sass/screen.sass */
.header h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
/* line 33, ../_sass/screen.sass */
.header h4, .header h5 {
  font-size: 16px;
  line-height: 18px;
}
/* line 36, ../_sass/screen.sass */
.header h5 {
  font-weight: lighter;
}
/* line 38, ../_sass/screen.sass */
.header p {
  font-size: 16px;
  font-weight: 400;
}
/* line 41, ../_sass/screen.sass */
.header li {
  margin: 8px;
}
/* line 43, ../_sass/screen.sass */
.header code {
  background: whitesmoke;
  font-family: Hack, monospace;
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: pre;
}
/* line 50, ../_sass/screen.sass */
.header .highlight {
  overflow-x: scroll;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  padding: 10px 15px;
  line-height: 18px;
}
/* line 58, ../_sass/screen.sass */
.header .highlight code {
  padding: 0;
}
/* line 8, ../_sass/_header.sass */
.header .header-info img {
  border-radius: 10px;
  max-width: 200px;
  margin-bottom: 20px;
  margin: auto;
  height: auto;
}

/* line 1, ../_sass/_blag.sass */
.blag-preview {
  margin: auto;
  max-width: 400px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  font-family: "Lato", sans-serif;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.95);
  text-align: center;
}
/* line 12, ../_sass/screen.sass */
.wf-loading .blag-preview {
  opacity: 0;
  transform: scale(0.95);
}
/* line 22, ../_sass/screen.sass */
.blag-preview h1 {
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
}
/* line 26, ../_sass/screen.sass */
.blag-preview h2 {
  font-size: 20px;
  font-weight: 500;
}
/* line 29, ../_sass/screen.sass */
.blag-preview h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
/* line 33, ../_sass/screen.sass */
.blag-preview h4, .blag-preview h5 {
  font-size: 16px;
  line-height: 18px;
}
/* line 36, ../_sass/screen.sass */
.blag-preview h5 {
  font-weight: lighter;
}
/* line 38, ../_sass/screen.sass */
.blag-preview p {
  font-size: 16px;
  font-weight: 400;
}
/* line 41, ../_sass/screen.sass */
.blag-preview li {
  margin: 8px;
}
/* line 43, ../_sass/screen.sass */
.blag-preview code {
  background: whitesmoke;
  font-family: Hack, monospace;
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: pre;
}
/* line 50, ../_sass/screen.sass */
.blag-preview .highlight {
  overflow-x: scroll;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  padding: 10px 15px;
  line-height: 18px;
}
/* line 58, ../_sass/screen.sass */
.blag-preview .highlight code {
  padding: 0;
}
/* line 6, ../_sass/_blag.sass */
.blag-preview .posts li {
  line-height: 28px;
}

/* line 1, ../_sass/_post.sass */
.post-container {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  font-family: "Lato", sans-serif;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.95);
  text-align: center;
  padding: 10px 30px 20px 30px;
  margin: auto;
  width: 90%;
  text-align: left;
}
/* line 12, ../_sass/screen.sass */
.wf-loading .post-container {
  opacity: 0;
  transform: scale(0.95);
}
/* line 22, ../_sass/screen.sass */
.post-container h1 {
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
}
/* line 26, ../_sass/screen.sass */
.post-container h2 {
  font-size: 20px;
  font-weight: 500;
}
/* line 29, ../_sass/screen.sass */
.post-container h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
/* line 33, ../_sass/screen.sass */
.post-container h4, .post-container h5 {
  font-size: 16px;
  line-height: 18px;
}
/* line 36, ../_sass/screen.sass */
.post-container h5 {
  font-weight: lighter;
}
/* line 38, ../_sass/screen.sass */
.post-container p {
  font-size: 16px;
  font-weight: 400;
}
/* line 41, ../_sass/screen.sass */
.post-container li {
  margin: 8px;
}
/* line 43, ../_sass/screen.sass */
.post-container code {
  background: whitesmoke;
  font-family: Hack, monospace;
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: pre;
}
/* line 50, ../_sass/screen.sass */
.post-container .highlight {
  overflow-x: scroll;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  padding: 10px 15px;
  line-height: 18px;
}
/* line 58, ../_sass/screen.sass */
.post-container .highlight code {
  padding: 0;
}
/* line 7, ../_sass/_post.sass */
.post-container .gif-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
/* line 12, ../_sass/_post.sass */
.post-container .gif-container img {
  width: 100%;
}
/* line 15, ../_sass/_post.sass */
.post-container .thrilling {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}
/* line 20, ../_sass/_post.sass */
.post-container .post p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin: 10px 0;
  line-height: 20px;
}

/* line 68, ../_sass/screen.sass */
html, body, .bg {
  height: 100%;
  width: 100%;
}

/* line 72, ../_sass/screen.sass */
.bg {
  position: fixed;
  z-index: -999;
  background-color: #4A4A4A;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNGE0YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a4a4a), color-stop(100%, #2b2b2b));
  background-image: -moz-linear-gradient(top, #4a4a4a, #2b2b2b);
  background-image: -webkit-linear-gradient(top, #4a4a4a, #2b2b2b);
  background-image: linear-gradient(to bottom, #4a4a4a, #2b2b2b);
}

/* line 78, ../_sass/screen.sass */
.container {
  padding: 5% 10px;
  box-sizing: border-box;
}

/* line 81, ../_sass/screen.sass */
a, a:visited {
  text-decoration: none;
  color: #007AFF;
}
