<div class="header">
  <div class="header-info">
    <a href="/">
      <img class="main-photo" src="http://gravatar.com/avatar/d7822bb76e635948ac79ce72004e4274?s=80" alt="Jack Flintermann" />
    </a>
    <h1 class="name">
      Jack Flintermann
    </h1>
    <h3 class="credentials">
      iOS Developer at <a href='http://www.joingrouper.com'>Grouper</a>
    </h3>
    <h3 class="links">
      <a href="http://twitter.com/jflinter">Twitter</a>
      ·
      <a href="/blag">Blag</a>
    </h3>
  </div>
</div>
