<div class="header">
  <div class="header-info">
    <a href="/">
      <img class="main-photo" src="{{ site.url }}/assets/jack.jpeg" alt="Jack Flintermann" />
    </a>
    <h1 class="name">
      Jack Flintermann
    </h1>
    <h3 class="hello">
      Hi! I'm Jack. I live in New York and write software for <a href='https://stripe.com'>Stripe</a>. You can say hello on Twitter at <a href='https://twitter.com/jflinter'>@jflinter</a>.<br /><br />
      That's it! Thanks for reading!
    </h3>
  </div>
</div>
