<div class="header">
  <div class="header-info">
    <img class="main-photo" src="{{ site.url }}/assets/jack.jpeg" alt="Jack Flintermann" />
    <h1 class="name">
      Jack Flintermann
    </h1>
    <h3 class="hello">
      Hi, I'm Jack! I live in New York and write software for <a href='https://stripe.com'>Stripe</a>. You can say hello on Twitter at <a href='https://twitter.com/jflinter'>@jflinter</a>.
    </h3>
  </div>
</div>

<div class="header">
  <h2>
    Projects
  </h2>
  <ul class="projects">
    <li>
      <h4><a href="https://github.com/jflinter/Dwifft">Dwifft</a></h4>
      <h5>A fast array diffing algorithm, written in Swift.</h5>
    </li>
    <li>
    <strong><a href="https://github.com/jflinter/JRFMemoryNoodler">JRFMemoryNoodler</a></strong>
      <h5>A tool for detecting when iOS kills your application due to memory pressure.</h5>
    </li>
  </ul>
</div>
