@import "compass/utilities"
.header
  +clearfix
  +transition(opacity 0.24s ease-in-out)
  +white-round-box
  max-width: 400px
  margin: 0 auto 30px
  &.wf-loading
    opacity: 0
  .header-info
    img
      border-radius: 10px
      max-width: 200px
      margin-bottom: 20px
      margin: auto
      height: auto