@import "compass/utilities"
.header
  +clearfix
  +white-round-box
  max-width: 400px
  margin: 0 auto 30px
  .header-info
    img
      border-radius: 10px
      max-width: 200px
      margin-bottom: 20px
      margin: auto
      height: auto