.post-container
  +white-round-box
  padding: 20px
  margin: auto
  width: 90%
  .post
    p
      font-family: 'Merriweather', serif
      font-weight: 300
      margin: 10px 0
      line-height: 20px