/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3"
@import "compass/reset"

=white-round-box
  +transition(all 0.2s ease-in-out)
  transform: scale(1)
  .wf-loading &
    opacity: 0
    transform: scale(0.95)
  font-family: 'Lato', sans-serif
  opacity: 1
  border-radius: 10px
  padding: 10px
  box-sizing: border-box
  background-color: rgba(245,245,245,0.95)
  text-align: center
  h1
    font-size: 28px
    font-weight: 600
    padding: 10px 0
  h2
    font-size: 20px
    font-weight: 500
  h3
    font-size: 20px
    line-height: 20px
    font-weight: 300
  h4, h5
    font-size: 16px
    line-height: 18px
  h5
    font-weight: lighter
  p
    font-size: 16px
    font-weight: 400
  li
    margin: 8px
  code
    background: whitesmoke
    font-family: Hack, monospace
    font-size: 14px
    padding: 1px 5px
    border-radius: 5px
    white-space: pre
  .highlight
    overflow-x: scroll
    background: whitesmoke
    border-radius: 10px
    padding: 10px
    text-align: left
    padding: 10px 15px
    line-height: 18px
    code
      padding: 0

@import "header"
@import "blag"
@import "post"

$topColor: #4A4A4A
$bottomColor: #2B2B2B

html, body, .bg
  height: 100%
  width: 100%

.bg
  position: fixed
  z-index: -999
  background-color: $topColor // Old browsers
  +background-image(linear-gradient(top, $topColor, $bottomColor))

.container
  padding: 20px 10px
  box-sizing: border-box
a, a:visited
  text-decoration: none
  color: #007AFF
